.container {
  max-width: 32rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  /* row/column template count is added by the component */
  gap: 0.25rem;
  background-color: white;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* row/column position/span is added by the component */
}
