.sidebar {
  flex-grow: 0;
  width: 12rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.sidebar > h3 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}